li {
  list-style-type: none;
}

.user-card {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-top: 0;
  width: 40vw;
  /* transition: color 1s ease-out; */
}

.user-card:hover {
  background-color: rgba(247, 245, 245, 0.459);
  opacity: 0.9;
}

.user-card:first-child {
  border-top: 2px solid black;
  border-radius: 10px 10px 0 0;
}

.user-card:last-child {
  border-radius: 0 0 10px 10px;
}

.user-card p {
  margin-right: auto;
  margin-left: 30px;
}

.user-card:first-child img {
  border-radius: 8px 0 0 0;
}

.user-card:last-child img {
  border-radius: 0 0 0 8px;
}

.user-card button {
  appearance: none;
  background: none;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 34px;
  height: 40px;
  transition: color 0.2s ease-out;
  width: 30px;
  margin-right: 10px;
}

.user-card button:hover {
  opacity: 50%;
}

.user-card button::after {
  content: "×";
}
